{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 1 versions", "ie >= 10"]
            },
            "modules": false,
            "loose": true
        }],
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "external-helpers"
    ]
}
