{
    "extends": ["nfl", "prettier"],
    "env": {
        "browser": true,
        "mocha": true,
        "es6": true
    },
    "globals": {
        "expect": false,
        "sinon": false
    },
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": ["error", {
                "printWidth": 80,
                "tabWidth": 4,
                "singleQuote": false,
                "trailingComma": "none",
                "bracketSpacing": false,
                "semi": true,
                "useTabs": false,
                "parser": "babylon",
                "jsxBracketSameLine": false
            }
        ]
    }
}
