language: node_js

services:
  - xvfb

addons:
  apt:
    packages:
      - google-chrome-stable

node_js:
  - 'node'
  - 12
  - 11
  - 10
  - 9
  - 8
  - 7
  - 6

before_install:
  - export CHROME_BIN=/usr/bin/google-chrome

cache:
  yarn: true
  directories:
    - node_modules

after_success: codecov
